/* General page */
body {
  margin: 0;
  background-color: #00a5be;
  font-family: "Indie Flower", cursive;
}

.logo {
  grid-area: logo;
  margin: 0 auto 2em;
  display: block;
}

/* Utilities */

.wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 2rem;
}

/* Navigation */

/* Repasar codigo, se puede hacer con direccion de pagina pero en este caso vamos a jugar con las rotaciones */
/* .navigation {
  Version con writing mode
  transform-origin: left bottom;
  transform: rotate(180deg);
  writing-mode: vertical-rl; Manera de poner texto en vertical
  position: absolute;
  left: 2em;
  height: calc(100vh - 4em);
  bottom: 0;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
  display: none;
} */

.navigation .text {
  display: inline-flex;
  margin: 35px 0;
  transition: all ease-in 0.3s 0s;
}

.navigation .text:hover {
  cursor: pointer;
  outline: none;
  font-weight: bold;
}

.links {
}

/* Pseudolements */

.assets {
  display: flex;
  align-items: center;
}

.dot {
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%;
  display: inline-flex;
  margin: 5px 0;
}

.line {
  width: 2px;
  height: 150px;
  background-color: black;
  display: inline-flex;
  margin: 15px 0;
}

/* Character */

.character {
  text-align: center;
}

.character-name {
  font-size: 30px;
  text-transform: uppercase;
}
/* Character img */

.character-img {
  max-width: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.35);
  transition: all ease-in 0.3s 0s;
}

.character-img:hover {
  transform: scale(1.1, 1.1);
  border-radius: 10%;
}
.character-labels {
  max-width: 300px;
}

.character-label {
  color: white;
  background-color: #685128;
  /* display: inline-flex; */
  border-radius: 8px;
  padding: 1em;
  text-align: left;
  font-size: 25px;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  .character-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "name avatar"
      "labels avatar";
  }

  .character-name {
    text-align: left;
  }

  .character-name h2 {
    font-size: 50px;
    position: relative;
    display: inline-flex;
  }

  .character-name h2:after {
    content: "";
    width: 87px;
    height: 4px;
    background-color: #b1290a;
    display: inline-flex;
    position: absolute;
    left: calc(100% + 5px);
    top: 40%;
  }

  .character-labels {
    grid-area: labels;
  }

  .character-img {
    grid-area: avatar;
    width: 300px;
    border-radius: 10%;
  }
  .character-labels {
    max-width: 300px;
  }
}


.assets{

  writing-mode: vertical-rl;
  /* margin-inline-start: 4em; */
  border: 1px solid red;
  display: flex;
  align-items: center;
}
.assets.top {
  grid-area: asset-top;
}

.assets.bottom {
  grid-area: asset-bottom;
  justify-content: flex-end;
}

.grid {
  padding: 4em;
  height: calc(100vh - 8em);
  display: grid;
  grid-template-columns: 50px 1fr 1fr 200px;
  grid-template-rows: 212px 120px 1fr 1fr 1fr;
  grid-template-areas:
    "asset-top logo logo redes"
    "name name-char imagen imagen"
    "about description imagen imagen"
    "asset-bottom character-text imagen imagen"
    "asset-bottom learn-more arrow other-line";
    column-gap:8.18em;
}

.redes{
  grid-area: redes;
  border: 1px solid red;
}



.navigation{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation.name{
  border: 1px solid purple;
  grid-area: name;
}

.navigation.about{
  border: 1px solid purple;
  grid-area: about;
}

.navigation a{
  text-decoration: none;
  color:black;
  font-size: 25px;
  text-transform: uppercase;
}

.character-name-container{
  border: 1px solid black;
  display: flex;
  align-items: center;
}


.character-image-container{
  grid-area: imagen;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}



.character-description{
  grid-area: description;
  
}


.learn-more{
  grid-area: learn-more;
  border: 1px solid brown;
  display: flex;
  align-items: flex-end;
  font-size: 25px;
  text-transform: uppercase;
}



